<p class="mt-3"><a href="/me/stored/blog" class="link link-primary">Back</a></p>
<h2>Trash List</h2>
<table class="table mt-3">
    {{#if posts}}
    <thead>
      <tr class="table-primary">
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Category</th>
        <th scope="col" colspan="2">Release</th>
      </tr>
    </thead>
    <tbody>
    {{#each posts}}
    <tr>
      <th scope="row">{{sum @index 1}}</th>
      <td>{{title}}</td>
      <td>{{author}}</td>
      <td>{{category}}</td>
      <td>{{createdAt}}</td>
      <td>
          <a class="link link-success restore-btn" 
              href="/news/{{_id}}/restore"
              data-id="{{_id}}">
            Restore
          </a>
          <a class="link link-danger" href="" 
              data-toggle="modal" 
              data-target="#remove-blog-modal"
              data-id="{{_id}}">
            Delete
          </a>
      </td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td colspan="5" class="text-center">
        Empty recycle bin
        <a href="/me/stored/blog">Click here to back</a>
      </td>
    </tr>
    {{/if}}
    </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="remove-blog-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm delete</h5>
      </div>
      <div class="modal-body">
        This will permanently delete your post with ID:
        <p id="remove-id" class="text-bold">___</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="remove-btn" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<!-- Hidden form remove -->
<form id="remove-form" method="POST"></form>
<form id="restore-form" method="POST"></form>

<script>

  document.addEventListener("DOMContentLoaded", function() {
    var idRemove;
    var idDialog = document.getElementById("remove-id");
    var removeBtn = document.getElementById("remove-btn");
    var removeForm = document.getElementById("remove-form");
    var restoreForm = document.getElementById("restore-form");

    $('#remove-blog-modal').on('show.bs.modal', function (event) {
      var button = $(event.relatedTarget);
      idRemove = button.data('id');
      idDialog.innerHTML = idRemove;
    });  

    removeBtn.addEventListener("click", function() {
      removeForm.action = '/news/' + idRemove + '/force?_method=DELETE';
      removeForm.submit();      
    })

    $('.restore-btn').on('click',function(e){
        e.preventDefault();
        var idRestore = e.target.dataset.id;
        restoreForm.action = '/news/' + idRestore + '/restore?_method=PATCH';
        restoreForm.submit(); 
    });  

  });



</script>